<img align="right" alt="DS4ALL Logo" src="../../images/ds4all_logo.png" style="width:155.00px; margin:10px; "/><p align="left" style='color:#000; font-family:"Cambria"; font-size:16pt; margin:0; line-height:1.0; padding-bottom:0; padding-top:0; text-align:left; page-break-after:avoid; font-weight:700; '>D0103.02.4 - Data Types & Data Structures 2.4</p>

_JVolcy_
<br><br><br>

This is a multipe-choice exercise.  In every case, the choices are numbers 1-8 corresponding to the following data structures:  

|Choice|Data Structure|
|:--:|:--:|
|1|`integer`|
|2|`float`|
|3|`string`|
|4|`array of integers`|
|5|`array of floats`|
|6|`array of strings`|
|7|`list`|
|8|`table`|


For each case below, identify the data structure most appropriate to capture the data described. Follow the example provided.


<br>


Example 1) The world record for pushups done in one hour  
<span style="color:blue">_Q1_Ans = 1_</span>

Example 1) The second largest country in the world  
<span style="color:blue">_Q2_Ans = 3_</span>

Example 3) The names of the seven dwarfs  
<span style="color:blue">_Q3_Ans = 6_</span>
  
Example 4) Information about the name, diameter and solar year of every planet in the solar system  
<span style="color:blue">_Q4_Ans = 8_</span>


---





<span style="color:lightgray">AUCC –  Data Science for All</span>

####  
#### Q1) The information on a credit card (name, number, expiration date and CVV)

In [1]:
Q1_Ans = ...

####  
#### Q2) The number of grains of sand in the Sahara

In [ ]:
Q2_Ans = ...

####  
#### Q3) The US unemployment rate

In [ ]:
Q3_Ans = ...

####  
#### Q4) The year, make and model of every vehicle on a car dealer’s lot

In [ ]:
Q4_Ans = ...

####  
#### Q5) The number of states east of the Mississippi

In [ ]:
Q5_Ans = ...

####  
#### Q6) The diameter of each planet in the solar system

In [ ]:
Q6_Ans = ...

####  
#### Q7) A woman’s dress specifications, including color, bust, hips, waist and length

In [ ]:
Q7_Ans = ...

####  
#### Q8) A senator’s “Aye” or “Nay” vote

In [ ]:
Q8_Ans = ...

####  
#### Q9) The number of “Nay” votes cast by a senator

In [ ]:
Q9_Ans = ...

####  
#### Q10) The French word for “woman”

In [ ]:
Q10_Ans = ...